<section id="fundo">
                <div id="logo-titulo">
                    <img id="logo" src="~/imagens/galpaoaereo.png" alt="Logo-RoleTop">
                    <h4>Vem para a festa !!</h4>
                </div>
</section>