@model RoletopMVC.ViewModels.RespostaViewModel
<main>
    <div style="text-align: center; margin:18%; font-size: 18px;">
    <h2 style="font-size:20px;">
        @Model.NomedaView Deu ruim !!
    </h2>
    <p style="color:#ffffff; padding:20px; text-transform: uppercase;">
            @Model.Mensagem
    </p>
    </div> 
</main>