
    <main>
        <section class="servicos">
            <!--Tipos de eventos-->
            <h5>Eventos feitos aqui!!</h5>
            <!-- <div class="eventos">
                
                <div class="evento-1">
                    <img src="../imagens/foto-evento-1-300x200.png">
                    <div class="nome">
                        <p>Casamento</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="../imagens/foto-evento-1-300x200.png">
                    <div class="nome">
                        <p>Debutantes</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="../imagens/foto-evento-1-300x200.png">
                    <div class="nome">
                        <p>Shows</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="../imagens/foto-evento-1-300x200.png">
                    <div class="nome">
                        <p>Aniversarios</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="../imagens/foto-evento-1-300x200.png">
                    <div class="nome">
                        <p>Baladas</p>
                    </div>
                </div>

            </div>  -->
            <div class="teste">
                <div class="tp-servicos">
                    <p>Casamento</p>
                    <p>Debutantes</p>
                    <p>Shows</p>
                    <p>Aniversarios</p>
                    <p>Baladas</p>
                </div>
            </div>
            <br>
            <h5>Serviços prestados</h5>
            <div>
                <!-- adicionar imagens-->
                <div class="teste">
                    <div class="tp-servicos">
                    <p>iluminação</p>
                    <p>som</p>
                    <p>limpeza</p>
                    <p>estacionamentos</p>
                </div>
            </div>
        </section>

        <!--Calendário de eventos-->
        <section class="calendario">
            <div class="eventos">
                <div class="evento-1">
                    <img src="imagens/foto-evento-1-300x200.png" alt="evento" title="uva">
                    <div class="texto-imagem">
                        <p>17 Fev</p>
                    </div>
                    <div class="nome">
                        <p>Festa da uva</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="imagens/foto-evento-1-300x200.png" alt="evento" title="uva">
                    <div class="texto-imagem">
                        <p>17 Fev</p>
                    </div>
                    <div class="nome">
                        <p>Festa da uva</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="imagens/foto-evento-1-300x200.png" alt="evento" title="uva">
                    <div class="texto-imagem">
                        <p>17 Fev</p>
                    </div>
                    <div class="nome">
                        <p>Festa da uva</p>
                    </div>
                </div>
                <div class="evento-1">
                    <img src="imagens/foto-evento-1-300x200.png" alt="evento" title="uva">
                    <div class="texto-imagem">
                        <p>17 Fev</p>
                    </div>
                    <div class="nome">
                        <p>Festa da uva</p>
                    </div>
                </div>
            </div>
        


        </section>
        <!--Sobre-->
        <section id="sobre">
            <p>Nascida fundaram sua empresa em 2015 denominada Rolê Top. Possuem um galpão que alugam para eventos, alem
                do espaço fornecem tambem alguns serviços (limpeza, iluminação, som e contrato com os estacionamentos da
                região). Com o grande sucesso viram a necessidade de migrarem para o meio digital (website).</p>
            //Imagens do local--
            <br><br>

        </section>
        <!--Depoimentos-->
        <section class="fim">
            <p>===================================== Depoimentos =====================================</p>
            <!--Depoimentos-->
            "Fulano jr."<br>
            O espaço é ótimo, há um tempo atrá contratei os serviços deles para realizar um show, posso dizer que foi
            tudo conforme o planejado
            <p>===================================== Depoimentos =====================================</p>
            <!--Localização-->
            <div class="teste">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.899329598941!2d-46.646389068621275!3d-23.53676888585709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1576072413715!5m2!1spt-BR!2sbr" width="98%" height="230" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <p>Alameda Barão de Limeira,539- Santa Cecília, São Paulo-SP</p>
            </div>
        </section>
    </main>