<main >
    <h4>Galeria</h4>
    <div id="galeria">
        <img src="imagens/WhatsApp-Imagens2.jpeg" alt="Foto-robo-dançando">
        <img src="imagens/Casamento.jpg" alt="Casamento">
        <img src="imagens/festa-de-15-anos.png" alt="festa-de-15-anos">
        <img src="imagens/bg-home-infinitto.jpg" alt="bg-home-infinitto">
        <img src="imagens/bg3.jpg" alt="bg3">
        <img src="imagens/a-love-sessions-acontece.jpg" alt="a-love-sessions-acontece">
        <img src="imagens/Cópia-de-CA_Bm_17.02.18-13.jpg" alt="teste">
        <img src="imagens/WhatsApp-Image.jpg" alt="teste">
        <img src="imagens/recebe-grandes-artistas-rodeio-show-.jpg" alt="teste">
    </div>
</main>